{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.groupTricks) }}
    {{ form_row(form.images) }}
    {{ form_row(form.videos) }}
    <button type="submit" class="btn btn-outline-dark mb-3">Valider</button>
{{ form_end(form) }}
