{{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.groupTricks) }}

    <h2>Images</h2>
    {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
        {% for image in tricks.images %}
            <div>
                <img src="{{ asset('uploads/images/tricks/' ~ image.name) }}" alt="Image">
                <a href="{{ path('app_tricks_delete_image', {id: image.id}) }}"
                   data-delete
                   data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer l'image
                </a>
            </div>
        {% endfor %}
    {% endif %}

    {{ form_row(form.images) }}

    <h2>Videos</h2>
    <ul class="videos"
        data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
    >
        {% for video in form.videos %}
            <li>{{ form_widget(video.url) }}</li>
        {% endfor %}
    </ul>

    <button type="button" class="add_item_link btn btn-outline-dark mb-3" data-collection-holder-class="videos">Ajouter une vidéo</button>
    <div>
        <button type="submit" class="btn btn-outline-dark mb-3">{{ button_label|default('Ajouter la figure') }}</button>
    </div>
{{ form_end(form) }}

{% block javascript %}
    <script src="{{ asset('assets/videosForm.js') }}" defer></script>
{% endblock %}
