{% extends 'base.html.twig' %}

{% block title %}Détails de {{ trick.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Détails de {{ trick.name }}</h1>
            </div>
            {% for images in trick.images %}
                <div class="col-4">
                    <img src="{{ asset('uploads/images/tricks/' ~ images.name) }}" alt="{{ trick.name }}">
                </div>
            {% endfor %}
            {% for videos in trick.videos %}
                <div class="embed-responsive embed-responsive-16by9 col-4">
                    <iframe class="embed-responsive-item" src="{{ videos.url }}" allowfullscreen></iframe>
                </div>
            {% endfor %}
            <div>
                Catégorie: {{ trick.groupTricks|capitalize }}
                <p>{{ trick.description|capitalize }}</p>
            </div>
        </section>
    </main>
{% endblock %}
