{% extends 'base.html.twig' %}

{% block title %}Détails de {{ trick.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12 text-center">
                <h1>Détails de {{ trick.name }}</h1>
            </div>
            {% for images in trick.images %}
                <div class="col-4 my-5">
                    <img src="{{ asset('uploads/images/tricks/' ~ images.name) }}" alt="{{ trick.name }}">
                </div>
            {% endfor %}
            <hr/>
            {% for videos in trick.videos %}
                <div class="embed-responsive embed-responsive-16by9 col-4 my-4">
                    <iframe class="embed-responsive-item" src="{{ videos.url }}" allowfullscreen></iframe>
                </div>
            {% endfor %}
            <div class="text-center small">
                Catégorie: {{ trick.groupTricks|capitalize }}
            </div>
            <div>
                <h3 class="text-center">Description de la figure</h3>
                <p>{{ trick.description|capitalize }}</p>
            </div>
            <hr/>
            {% if app.user and app.user.isVerified == 1 %}
                <h2>Commentaire</h2>
                {{ render(path('app_comments_add', {'id' : trick.id})) }}
            {% else %}
                <div class="text-center">
                    <p>
                        <a href="{{ path('app_login') }}" class="btn btn-outline-dark mb-1">Connectez-vous</a> pour pouvoir poster des commentaires !
                    </p>
                    <p>
                        <a href="{{ path('app_register') }}" class="btn btn-outline-dark mb-1">Inscrivez-vous</a> si vous n'avez pas encore de compte
                    </p>
                </div>
                <hr/>
            {% endif %}
            {% for comment in comments %}
                <div>
                    <small>Posté le {{ comment.createdAt ? comment.createdAt|date('d/m/Y H:i') : '' }}
                    par {{ comment.users.username }}</small>
                    <p>{{ comment.content }}</p>
                </div>
                <hr/>
            {% endfor %}
        </section>
    </main>
{% endblock %}
