{% extends 'base.html.twig' %}

{% block title %}Détails de {{ trick.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12 text-center">
                <h1>Détails de {{ trick.name }}</h1>
            </div>
            <h2>Images</h2>
            {% for images in trick.images %}
                <div class="col-4 my-5">
                    <img src="{{ asset('uploads/images/tricks/' ~ images.name) }}" alt="{{ trick.name }}">
                </div>
            {% endfor %}
            <hr/>
            <h2>Vidéos</h2>
            {% for videos in trick.videos %}
                <div class="embed-responsive embed-responsive-16by9 col-4 my-4">
                    <iframe class="embed-responsive-item" src="{{ videos.url }}" allowfullscreen></iframe>
                </div>
            {% endfor %}
            <div class="text-center small">
                Catégorie: {{ trick.groupTricks|capitalize }}
            </div>
            <div>
                <h3 class="text-center">Description de la figure</h3>
                <p>{{ trick.description|capitalize }}</p>
            </div>
            <hr/>
            {% if app.user and app.user.isVerified == 1 %}
                <h2>Commentaire</h2>
                {{ render(path('app_comments_add', {'id' : trick.id})) }}
            {% else %}
                <div class="text-center">
                    <p>
                        <a href="{{ path('app_login') }}" class="btn btn-outline-dark mb-1">Connectez-vous</a> pour pouvoir poster des commentaires !
                    </p>
                    <p>
                        <a href="{{ path('app_register') }}" class="btn btn-outline-dark mb-1">Inscrivez-vous</a> si vous n'avez pas encore de compte
                    </p>
                </div>
                <hr/>
            {% endif %}
            {% for comment in comments %}
                <div>
                    <img class="rounded-circle" src="https://dummyimage.com/50x50/000/fff.jpg" alt="Fake profile picture">
                    {% if comment.updatedAt %}
                        <small>Posté le {{ comment.updatedAt ? comment.updatedAt|date('d/m/Y H:i') : '' }}</small>
                    {% else %}
                        <small>Posté le {{ comment.createdAt ? comment.createdAt|date('d/m/Y H:i') : '' }}</small>
                    {% endif %}
                    <small>par {{ comment.users.username }}</small>
                    <p>{{ comment.content }}</p>
                    {% if comment.users == app.user %}
                        <div>
                            <a href="{{ path('app_comments_edit', {id: comment.id}) }}" class="btn btn-outline-dark mb-3">
                                <i class="fa-solid fa-pen-to-square" style="color: #022b6c;"></i>
                            </a>
                            <a href="{{ path('app_comments_delete', {id: comment.id}) }}"
                               data-delete
                               data-token="{{ csrf_token('delete' ~ comment.id) }}" class="btn btn-outline-dark mb-3">
                                <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <hr/>
            {% endfor %}
            {% if comments|length > 0 %}
                <div class="my-2">
                    {% if previous >= 0 %}
                        <a href="{{ path('app_tricks_details', { slug: trick.slug, offset: previous }) }}"
                        class="btn btn-outline-dark">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    {% endif %}
                    {% if next < comments|length %}
                        <a href="{{ path('app_tricks_details', { slug: trick.slug, offset: next }) }}"
                           class="btn btn-outline-dark">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </section>
    </main>
    <script>
        let links = document.querySelectorAll("[data-delete]");

        for (let link of links) {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                if (confirm("Êtes-vous sur de vouloir supprimer ce commentaire ? ")) {
                    fetch(this.getAttribute("href"), {
                        method: "DELETE",
                        headers: {
                            "X-Requested-With": "XMLHttpRequest",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({"_token": this.dataset.token})
                    }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                this.parentElement.parentElement.remove();
                                alert("Le commentaire a été correctement supprimé.")
                            } else {
                                alert(data.error);
                            }
                        })
                }
            });
        }
    </script>
{% endblock %}
